 body {

	margin: auto;
	line-height: 1.5em;
	background-color: rgb(102, 103, 102);
	max-width: 1050px;
	-webkit-box-shadow: 0px 1px 64px 15px rgba(0,0,0,1);
    -moz-box-shadow: 0px 1px 64px 15px rgba(0,0,0,1);
    box-shadow: 0px 1px 64px 15px rgba(0,0,0,1);
    text-align: center;
    padding-top: 60px;

}

img {
	padding-top: 0px;
}

h2 {
	font-size: 40px;	
	text-align: center;
	font-weight: 300;
	background-color: rgb(23, 218, 94); 
	padding-top: 40px;
	padding-bottom: 40px;
	color: #333;
	margin: 0px;
	font-family: 'Bowlby One SC', cursive;
	text-shadow: -5px -5px 5px #1AA54D;
    -webkit-box-shadow: 0px 0px 37px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 37px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 37px 4px rgba(0,0,0,0.75)

}

h3 {
	font-size: 30px;
	margin: 15px;
	text-align: center;
}

h4 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.7em;
}

article ul {
    list-style: none;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
}

article ul li {
	padding-top: 20px;
}

article {
	padding-bottom: 60px;
	background: white;
	margin: auto;
	padding-top: 0px;
}

.proyectos {
	padding-bottom: 60px;
}


.cuadros {
	padding-bottom: 50px;
	padding-left: 100px;
	padding-right: 100px;

}

.cuadros img {
	padding-top: 80px;
}

address {
	padding-bottom: 0px;
	background: white;
	margin: 0px;

}

.mapa{
	margin-top: 50px;
}

.row2 {
	margin: 0px;
	max-width: 1050px;

}

address ul {
	list-style: none;
	text-align: left;
	padding-left: 60px;
	padding-top: 30px;
	padding-right: 0PX;
}

address ul li {
    padding-top: 20px;
    padding-right: 0PX
}

address p {
	padding-top: 40px;
}

p {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 40px;
	font-family: 'Julius Sans One', sans-serif;
}

.p1 {
	padding-top: 70px;
}

form {
	padding-top: 30px;
	text-align: left;
	padding-left: 120px;
	font-size: 0.8em;
}

footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 50px;
}


nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 30px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
				}

#main-header {
	background-color: rgb(51, 51, 51, 0,9);
	color: white;
	height: 80px;

}	
	#main-header a {
		color: white;
}

#logo-header {
	float: left;
	padding: 15px 0 0 30px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 28px;
	}
	
	#logo-header .site-desc {
		display: block;
		font-size: 12px;
		color: #999;
	}

#main-header {
	background: #333;
	color: white;
	height: 80px;
	width: 100%; 
	left: 0; 
	top: 0; 
	position: fixed;
}

#exampleAccordion {
	padding-top: 60px;
	font-family: 'Julius Sans One', sans-serif;
}


.col-sm-6 {
	position: unset;
}
